* {
    margin: 0;
    padding: 0;
}

h3 {
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
}

p {
    text-align: left;
    font-size: 15px;
}

.banner {
    width: 1000px;
    height: 150px;
}

.row-2 {
    display: flex;
    flex: row wrap;
    width: 1000px;
    height: 300px;
    border: 1px solid;
    border-collapse: collapse
}

.row-1 {
    display: flex;
    flex: row wrap;
    width: 1000px;
    height: 500px;
    border: 1px solid;
    border-collapse: collapse;
}

.cell {
    padding: 10px;
    border: 1px solid;
}

.cell-1-1 {
    flex-basis: 26%;
}

.cell-1-2 {
    flex-basis: 50%;
}

.cell-1-3 {
    flex-basis: 24%;
}

.cell-2-1 {
    flex-basis: 24.8%;
}

.cell-2-2 {
    flex-basis: 75%;
}

.statistics {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-around;
    padding: 0;
}

.strength {
    background-color: #00ada7;
    height: 100%;
    width: 98%;
}

.iq {
    background-color: #5cad00;
    width: 34%;
    height: 100%;
}

.speed {
    background-color: #ad0006;
    width: 87%;
    height: 100%;
}

.durability {
    background-color: #5100ad;
    width: 78%;
    height: 100%;
}

.img-1 {
    width: 100%;
}